
header {
    background-color: #5B122D;
    background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
@keyframes typing {
 0% {
   width: 0;
   opacity: 0;
 }
 40% {
   width: 100%;
   opacity: 1;
 }
 60% {
   width: 100%;
   opacity: 1;
 }
 100% {
   width: 100%;
   opacity: 0;
 }
}

.roboto-slab-CardText {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.typewriter-text {
 display: inline-block;
 overflow: hidden;
 white-space: nowrap;
 width: max-content; 
 font-family: 'Poppins,Arial,sans-serif';  
 animation: typing 10s steps(40) infinite;
 color: #000; 
 text-align: center;  
 position: relative;
}


@keyframes fadeEffect {
 0%, 100% {
   opacity: 0; 
 }
 50% {
   opacity: 1; 
 }
}
.dashboard-bg {
  background-color: #5B122D;
  min-height: 100vh;
}
.MainPage-card-container {
  position: relative;
}

.MainPage-card-theCard {
  position: absolute;
  width:100%;
  height:100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.MainPage-card-theCard:hover {
  box-shadow: 0 0 20px rgba(66, 153, 225, 0.8);
  transform: translateY(-8px) rotateY(180deg);
}

.MainPage-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  backface-visibility: hidden;
}

.MainPage-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.loans-h1 {
  font-size: 62px;
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
  color: #5B122D;
}

.loans-p {
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 65px 0 0 0;
  color: #5B122D;
}

.loans-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loan-cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-evenly;
  padding: 120px 70px 0 70px;
  font-family: 'Times New Roman', Times, serif;
}

.loan-page-card {
  height: 370px;
  width: 350px;
  background-color: #5B122D;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F4E1C6;
  transition: transform 0.3ease, box-shadow 0.3ease;
  box-shadow: 0 4px 6px rgb(0,0,0,0.1);
}

.loan-page-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 8px 12px rgb(0,0,0,0.6);
}

.loan-page-card:nth-child(even) {
  margin-top: 80px;
}

.inside-loan-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.inside-loan-page button {
    background-color: #F4E1C6;
    color:#5B122D;
    width: 110px;
    height: 35px;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.loan-page-h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  color: #5B122D;
  font-weight: 900;
}

.loan-page-h3 {
  font-size: 25px;
  padding: 0px 0px 40px 40px;
  font-family:Arial, Helvetica, sans-serif;
}

.account-card {
  height: 370px;
  width: 350px;
  background-color: #5B122D;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F4E1C6;
  transition: transform 0.3ease, box-shadow 0.3ease;
  box-shadow: 0 4px 6px rgb(0,0,0,0.1);
}



.loan-container {
  max-width: 500px;
  margin: auto;
}

.loan-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.loan-buttons button {
  padding: 8px 12px;
  cursor: pointer;
}

.loan-buttons .active {
  background: #1976d2;
  color: white;
}

.field {
  margin-bottom: 12px;
  transition: opacity 0.3s ease;
}

.field.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
}
